asgiref==3.3.1
autopep8==1.5.4
Django==3.1.4
django-ckeditor==6.0.0
django-debug-toolbar==3.2
django-js-asset==1.2.2
pycodestyle==2.6.0
python-dotenv==0.15.0
pytz==2020.4
sqlparse==0.4.1
toml==0.10.2
